<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'vets')}">
<head>
    <meta charset="UTF-8">
    <title>Ветиренар</title>
</head>
<body>
<h2 th:text="'Ветеринары'">stub</h2>

<table id="vets" class="table table-striped">
    <thead>
        <tr>
            <th>№</th>
            <th>ФИО ветеринара</th>
            <th>Специализации</th>
        </tr>
    </thead>

    <tbody>
        <tr th:each="vet : ${vets}">
            <td th:text="${vet.id}">0</td>
            <td th:text="${vet.firstName + ' ' + vet.lastName}">неизвестно</td>
            <td>
                <span th:each="specialty : ${vet.specialties}" th:text="${specialty.name + ' '}"/>
                <span th:if="${vet.nrOfSpecialties == 0}">неизвестно</span>
            </td>
        </tr>
    </tbody>
</table>
</body>
</html>